---
layout: page
title: "关于"
description: "这里是Allied Vision技术文章发布博客。"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
  <div class="csc-header csc-header-n2">
    <h1>关于Allied Vision</h1>
  </div>
  <div class="video-container">
      <iframe class="vidyard_iframe" src="//play.vidyard.com/ddaQyqdFrYxP3G3ZfwDD5h.html?v=3.1.1" width="560" height="315" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
  </div>
  <div class="csc-textpic-text">
    <p class="bodytext"><span style="font-weight: bold;">Allied Vision 凭借在机器视觉行业30年的专业知识和经验，精准聚焦于您的目标，让您时刻了解大局。</span>
    </p>    
    <p class="bodytext">
      我们坚信知识就是力量并一直努力通过我们的技术和专业知识，为客户提供有价值的洞见。从提高生产标准到快速检测疾病或比赛中轻易准确知道谁第一个冲过终点线，我们深知精度和真实在任何情况下都是关键因素，这就是我们要专注于这些重要方面的原因。
    </p>    
    <p class="bodytext">我们为工业检测、医疗、科学成像、交通监测等应用提供相机解决方案，但我们非常清楚，每一个项目都是独一无二的，都会遇到不同的技术挑战。
    </p>    
    <p class="bodytext">因此，我们会提出切实的问题，以便针对客户的独特需求制定个性化的解决方案，并为最核心的部分提供支持。我们对关键事物有着敏锐的眼光，洞察不易察觉的趋势。
    </p>    
    <p class="bodytext">从我们的员工到我们的产品，Allied Vision 的宗旨在于努力实现所需的精准度，进而促进世界的进步。
    </p>    
    <p class="bodytext">Allied Vision 隶属于&nbsp;<span style="font-weight: bold;"><a
          href="https://www.tkhgroup.com/en/home/?set_language=en" target="_blank">TKH 集团</a></span>。</p>
  </div>
</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

